<template name="invictus_navigation">
    <nav class="navbar {{#if isInverse}} navbar-inverse {{else}} navbar-default {{/if}} {{#if isFixed}} navbar-fixed-{{getFixedPos}} {{/if}}">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{getBrand}}</a>
                {{#each dataNotCollapsable}}
                    {{> invictus_navigation_item_not_collapsable}}
                {{/each}}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#each dataCollapsable}}
                        {{> invictus_navigation_item_collapsable}}
                    {{/each}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if showAccount}}
                        {{#if isButton showAccount}}
                            <li>
                                {{> account_button_navbar }}
                            </li>
                        {{/if}}
                        {{#if isLink showAccount}}
                            <li class="{{#if isActive 'account_settings'}}active{{/if}}">
                                {{> account_link }}
                            </li>
                        {{/if}}
                    {{/if}}

                    {{#if showLogout}}
                        {{#if isButton showLogout}}
                            <li>
                                {{> logout_button_navbar }}
                            </li>
                        {{/if}}
                        {{#if isLink showLogout}}
                            <li>
                                {{> logout_link }}
                            </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="invictus_navigation_item_collapsable">
    {{#unless hidden}}
        <li class="{{#if isActive}}active{{/if}}">
            {{#if isText}}
                <a href="{{route}}">{{text}}</a>
            {{else}}
                <button type="button" data-route="{{route}}" class="btn btn-{{option}} navbar-btn {{#if isActive}}active{{/if}} {{cls}}">{{text}}</button>
            {{/if}}
        </li>
    {{/unless}}
</template>

<template name="invictus_navigation_item_not_collapsable">
    {{#unless hidden}}
        {{#if isButton}}
            <button type="button" data-route="{{route}}" class="btn btn-{{option}} navbar-btn {{#if isActive}}active{{/if}} {{cls}}">{{text}}</button>
        {{/if}}
    {{/unless}}
</template>
