<template name="invictus_navigation">
    <nav class="navbar {{#if isInverse}} navbar-inverse {{else}} navbar-default {{/if}} {{#if isFixed}} navbar-fixed-{{getFixedPos}} {{/if}}">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{getBrand}}</a>
                {{#each dataNotCollapsable}}
                    {{> invictus_navigation_item_not_collapsable}}
                {{/each}}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{#each dataCollapsable}}
                        {{> invictus_navigation_item_collapsable}}
                    {{/each}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if showAccount}}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Einstellungen <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{#if isActive 'account_settings'}}active{{/if}}">
                                {{> account_link }}
                            </li>
                            <li>
                                {{> invictus_navigation_link}}
                            </li>
                        </ul>
                    </li>
                    {{else}}
                        <li>
                            {{> invictus_navigation_link}}
                        </li>
                    {{/if}}

                    {{#if showLogout}}
                        {{#if isButton showLogout}}
                            <li>
                                {{> logout_button_navbar }}
                            </li>
                        {{/if}}
                        {{#if isLink showLogout}}
                            <li>
                                {{> logout_link }}
                            </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>

<template name="invictus_navigation_item_collapsable">
    {{#unless hidden}}
        {{#if isText}}
            <li class="{{#if isActive}}active{{/if}}">
                <a href="{{route}}" class="{{cls}}">{{text}}</a>
            </li>
        {{/if}}
        {{#if isButton}}
            <li>
                <button type="button" data-route="{{route}}" class="btn btn-{{option}} navbar-btn {{#if isActive}}active{{/if}} {{cls}}">{{text}}</button>
            </li>
        {{/if}}
        {{#if isDropdown}}
            <li class="dropdown">
                <a href="{{route}}" class="dropdown-toggle" data-toggle="dropdown">{{text}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{#each nodes}}
                        {{#unless hidden}}
                            <li class="{{#if isActive}}active{{/if}}">
                                <a href="{{route}}">{{text}}</a>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </li>
        {{/if}}
    {{/unless}}
</template>

<template name="invictus_navigation_item_not_collapsable">
    {{#unless hidden}}
        {{#if isButton}}
            <button type="button" data-route="{{route}}" class="btn btn-{{option}} navbar-btn {{#if isActive}}active{{/if}} {{cls}}">{{text}}</button>
        {{/if}}
    {{/unless}}
</template>

<template name="invictus_navigation_link">
    <a href="/navigation_settings" role="button">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Navigation
    </a>
</template>
